OPENAI_API=INSERT_YOUR_KEY

DATABASE_URL=INSERT_YOUR_URL
JWT_SECRET_KEY=replace_with_a_long_random_secret
FRONTEND_URL=http://localhost:5173

POSTGRES_PASSWORD= your_password_database
POSTGRES_USER=your_user_database
POSTGRES_DB= your_name_database
